[submodule "RawAlign/RawAlign"]
	path = RawAlign/RawAlign
	url = https://github.com/cmu-safari/RawAlign
[submodule "Uncalled4/uncalled4"]
	path = Uncalled4/uncalled4
	url = https://github.com/skovaka/uncalled4
[submodule "Sigmoni/sigmoni"]
	path = Sigmoni/sigmoni
	url = https://github.com/vshiv18/sigmoni.git
[submodule "Uncalled/UNCALLED"]
	path = Uncalled/UNCALLED
	url = https://github.com/skovaka/UNCALLED
